.header {
    margin-top: 4rem;
    margin-bottom: 0;
    position: relative;

    h1 {
        color: #3F5386;
    }

    h1, h2, h3, h5 {
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    img {
        width: 80px;
        display: block;
        margin: 10px auto;
    }

    .logo {
        font-family: 'Coustard', serif;
        font-size: 3rem;
        color: #4C6ACA;

        a {
            color: #4C6ACA;
            text-decoration: none;
        }

        .tv {
            color: #444;
        }
    }
    
    .navigation {
        text-align: right;
    }

    .navigation .nav-item {
        margin: 0 10px;
        text-decoration: none;
    }

    .desc {
        color: #444;
        font-size: 1.7rem;
        text-align: left;
        letter-spacing: 0;
    }

    .props {
        margin-top: 2.5em;
        margin-bottom: 3.5em;
        text-align: center;
    }

    .props i {
        color: #3F5386;
        display: block;
        font-size: 48px;
        margin-bottom: 30px;
    }
}
