.container {

    &.full-width {
        width: 100%;
        max-width: 100%;

        #player {
            height: 800px;
        }
    }

    &.full-screen {
        width: 100%;
        max-width: 100%;

        #player {
            height: 100vh;
        }
    }
}

#player {
    display: none;
    width: 100%;
    height: 600px;
}

.player-controls {
    display: none;
    text-align: center;
    margin-top: 10px;
}