<div class="container">
    <section class="header">
        <div class="row">
            <div class="four columns">
            <div class="logo">
                <img src="/static/images/logo.png" />
                <a href="/#">Playlist<span class="tv">Party</span></a></div>
                <h1 class="desc">
                  Play Spotify Playlists on YouTube
                </h1>
            </div>
            <div class="navigation eight columns">
                <a class="nav-item" href="#/featured-playlists">Featured</a>
                <a class="nav-item" href="#/categories">Categories</a>
                <a class="nav-item" href="#/categories/toplists">Top Lists</a>
                <a class="nav-item" href="#/playlist">User Playlists</a>
            </div>
        </div>
    </section>
    <hr />
</div>

<div class="container js-player">
    <div id="player"></div>
    <div id="casting">
      <div id="casting-text"></div>
    </div>
    <div class="player-controls">
        <button class="button js-fullscreen">Full Screen</button>
        <button class="button js-fullwidth">Full Width</button>
        <button class="button js-normal">Normal</button>
        <button class="button js-cast">Cast Playlist</button>
    </div>
    <div class="spinner js-spinner"></div>
</div>

<div class="container">
    <section>
        <h4 id="playlist-title"></h4>
        <div id="playlists"></div>
    </section>

    <section id="content"></section>

</div>

<footer>
    <div>PlaylistParty is not affiliated with Spotify or YouTube.</div>
    <div>Built with ❤️ by <a href="https://github.com/alfg">alfg</a>.
</footer>
