<div id="content" class="container">
    <section class="header">
        <div class="logo">Spotlist<span class="tv">TV</span></div>
        <span class="desc">
            Play Spotify playlists on Youtube.
        </span>
    </section>
    <hr />


    <section>
        <div id="player"></div>
        <div class="spinner js-spinner"></div>
    </section>

    <section>
        <h5>Featured Playlists</h5>
        <div id="playlists"></div>
    </section>

    <footer>
        Spotlist.TV is not affiliated with Spotify or Youtube.
    </footer>

</div>
