<div id="content" class="container" data-page="index">
    <section class="header">
        <h1>Welcome to Stellar.FM!</h1>
        <h5>
            Get started by selecting a playlist below!
        </h5>
    </section>
    <hr />

    <section>
        <div id="player"></div>
    </section>

</div>
