<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
	  body {
	    overflow:hidden;
	  }
      div{
	    height:720PX;
	    width:1280PX;
	    text-align:center;
	    border:0px solid silver;
	    display: table-cell;
	    vertical-align:middle;
	    color:#FFFFFF;
	    background-color:#000000;
	    font-weight:bold;
	    font-family:Verdana, Geneva, sans-serif;
	    font-size:40px;
	}

  #player {
    width: 100%;
    height: 100vh;
  }
    </style>
    <title>SpotlistTV</title>
  </head>
  <body>
    <div id="player"></div>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
      // utility function to display the text message in the input field
      function displayText(text) {
        console.log(text);
        document.getElementById("message").innerHTML=text;
        window.castReceiverManager.setApplicationState(text);
      };
    </script>
  </body>
</html>
