<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
  	  body {
  	    overflow:hidden;
  	  }
    </style>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Coustard|Raleway:400,300,600' type='text/css'>
    <title>SpotlistTV</title>
  </head>
  <body>
    <div id="receiver">
      <div id="splash">
        <div class="logo"><div href="/#">Spotlist<span class="tv">TV</span></div></div>
            <h2 class="desc">
                Play Spotify playlists on Youtube.
            </h2>
            <h4>Loading...</h4>
        </div>
      <div id="player"></div>
      </div>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
      // utility function to display the text message in the input field
      // function displayText(text) {
      //   console.log(text);
      //   document.getElementById("message").innerHTML=text;
      //   window.castReceiverManager.setApplicationState(text);
      // };
    </script>
  </body>
</html>
