body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  margin-top: 4rem;
  margin-bottom: 0;
  position: relative;
}
.header h1 {
  color: #3F5386;
}
.header h1, .header h2, .header h3, .header h5 {
  text-align: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header img {
  width: 80px;
  display: block;
  margin: 10px auto;
}
.header .props {
  margin-top: 2.5em;
  margin-bottom: 3.5em;
  text-align: center;
}
.header .props i {
  color: #3F5386;
  display: block;
  font-size: 48px;
  margin-bottom: 30px;
}

ul span {
  color: green;
}

section {
  margin-bottom: 3.5em;
}

h4 {
  margin-top: 15px;
}

.container {
  /*  max-width: 800px;
  */
  margin-bottom: 10rem;
}

#playlists .playlist-item {
  width: 33%;
  display: inline-block;
}

#player {
  width: 100%;
  height: 600px;
}
